<!DOCTYPE html>
<meta charset="utf-8">
<title>Comparea</title>
<link rel="stylesheet" href="/static/css/comparea.css">

<script src="/static/lib/d3.min.js"></script>
<script src="/static/lib/queue.min.js"></script>
<script src="/static/lib/topojson.min.js"></script>
<script src="/static/lib/jquery.min.js"></script>

<body>

<div id="topbar">
  <select class="choose" id="choose0"></select>
  <select class="choose" id="choose1"></select>
</div>
<div id="svg-container"></div>

<script src="/static/js/comparea.js"></script>
</body>
