{% from "macros.html" import feature_panel with context %}

<!DOCTYPE html>
<meta charset="utf-8">
<title>Comparea</title>
<link rel="stylesheet" href="/static/css/comparea.css">

<script src="/static/lib/d3.min.js"></script>
<script src="/static/lib/queue.min.js"></script>
<script src="/static/lib/topojson.min.js"></script>
<script src="/static/lib/jquery.min.js"></script>

<body>

<div id="svg-container"></div>

<div id="sidebar">
  <div class='side-panel'>
    <select class="choose" id="choose0"></select>
    {{ feature_panel(shape1) }}
  </div>
  <div class='side-panel'>
    <select class="choose" id="choose1"></select>
    {{ feature_panel(shape2) }}
  </div>
</div>

<script type="text/javascript">
var geojson_features = [
    {{shape1|tojson}},
    {{shape2|tojson}}
  ];
var name_id_pairs = {{name_id_pairs|tojson}};
</script>

<script src="/static/js/comparea.js"></script>
<script src="/static/js/render.js"></script>
</body>
