{% from "macros.html" import feature_panel, size_comparison with context %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="minimal-ui, user-scalable=0, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta property="fb:admins" content="3001252" />
<link rel="icon" sizes="256x256" href="/static/img/comparea256.png">
<link rel="icon" sizes="32x32" href="/static/img/comparea32.png">
<link rel="apple-touch-icon" href="/static/img/comparea256.png" />
<link rel="shortcut icon" href="/static/img/comparea32.png">

<link rel="stylesheet" href="/static/css/comparea.css">

{% if use_third_party_cdn %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
{% else %}
<link rel="stylesheet" href="/static/lib/select2/select2.css">
<script src="/static/lib/d3/d3.min.js"></script>
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/select2/select2.min.js"></script>
{% endif %}
</head>

<body>

<div class="size-comparison-holder">
<p class="size-comparison">{{size_comparison(shape1, shape2)}}</p>
</div>

<div id="svg-container"></div>

{% macro option_list(name_id_pairs, selected_id) %}
{% for pair in name_id_pairs %}
<option {% if pair[1] == selected_id %}selected {% endif %}value="{{pair[1]}}">{{pair[0]}}</option>
{% endfor %}
{% endmacro %}

<div id="sidebar">
  <div class='side-panel' id='side-panel0'>
    <select class="choose" id="choose0">
      {{ option_list(name_id_pairs, shape1.id) }}
    </select>
    <div class="feature-panel">{{ feature_panel(shape1) }}</div>
  </div>
  <div class='side-panel' id='side-panel1'>
    <select class="choose" id="choose1">
      {{ option_list(name_id_pairs, shape2.id) }}
    </select>
    <div class="feature-panel">{{ feature_panel(shape2) }}</div>
  </div>

  <a class="about-link" href="/about">About</a>
  <div class="size-comparison">{{size_comparison(shape1, shape2)}}</div>
</div>

<script type="text/javascript">
var geojson_features = [
    {{shape1|tojson}},
    {{shape2|tojson}}
  ];
</script>

<script src="/static/js/packer.js"></script>
<script src="/static/js/comparea.js"></script>
<script src="/static/js/render.js"></script>

{% include 'analytics.html' %}
</body>
</html>
