{% macro feature_panel(feature) %}
<div class="statistics">
  <p>
    <span class="stat-name">Area</span>:
    <span class="stat-value area"
      >{{feature.properties.area_km2|int|format_commas}} km<sup>2</sup></span
    >
    <a class="stat-source" href="{{feature.properties.area_km2_source_url}}"
      >{{feature.properties.area_km2_source}}</a
    >
  </p>
  <p class="population">
    <span class="stat-name">Population</span>:
    <span class="stat-value"
      >{{feature.properties.population|int|format_commas}}</span
    >
    (<span class="stat-year">{{feature.properties.population_date}}</span>)
    <a class="stat-source" href="{{feature.properties.population_source_url}}"
      >{{feature.properties.population_source}}</a
    >
  </p>
</div>
<p class="description">
  {{feature.properties.description}}
  <a href="{{feature.properties.wikipedia_url}}">Wikipedia</a>
</p>
{% endmacro %} {% macro size_comparison(shape1, shape2, flipped=False) %} {% set
props1 = shape1.properties %} {% set props2 = shape2.properties %} {% set
class1='feature' + ('2' if flipped else '1') %} {% set class2='feature' + ('1'
if flipped else '2') %} {% if props1.area_km2 < props2.area_km2 %}
{{size_comparison(shape2, shape1, True)}} {% else %}
<span class="{{class1}}">{{props1.name}}</span> is
{{(props1.area_km2/props2.area_km2)|format_ratio}} larger than
<span class="{{class2}}">{{props2.name}}</span>. {% endif %} {% endmacro %}
