html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;  /* why!? */
  box-sizing: border-box;
}

#svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 250px;
}

#sidebar {
  background: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  right: 0;
  border-left: 1px solid black;
  padding: 10px;
  overflow-y: auto;
}

line { stroke: black; }

.shape1 {
 fill: rgb(128,128,255);
}
.shape0 {
  fill: rgb(128,255,128);
}
