html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;  /* why!? */
  box-sizing: border-box;
}

#svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 275px;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 275px;
  right: 0;
  overflow-y: auto;
}

.side-panel {
  background: #eee;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  max-height: 50%;
  overflow-y: auto;
}

.feature-panel .description {
  font-size: small;
}
.population {
  font-size: small;
}
.stat-source {
  font-size: small;
}

.choose {
  width: 100%;
}

line { stroke: black; }

.shape1 {
 fill: rgb(128,128,255);
}
.shape0 {
  fill: rgb(128,255,128);
}
circle {
  stroke-width: 1;
  fill: none;
}
.force0 circle {
  stroke: rgb(128,255,128);
}
.force1 circle {
  stroke: rgb(128,128,255);
}
