html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  /* disable scroll bounce on Mac OS X */
  html {
    overflow: hidden;
  }
  body {
    overflow: auto;
  }
}

#svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 275px;
  right: 0;
  overflow-y: auto;
}

.side-panel {
  background: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  max-height: 50%;
  overflow-y: auto;
}

.feature-panel .description {
  font-size: small;
}
.population {
  font-size: small;
}
.stat-source {
  font-size: small;
}

.choose {
  width: 100%;
}

#side-panel0 .select2-chosen {
  color: green;
}
#side-panel1 .select2-chosen {
  color: blue;
}

/* Responsive UI for mobile/tablet */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  /* This covers phones in portrait */
  #sidebar {
    left: 0;
    right: 0;
    width: 100%;
    display: table;
  }
  .side-panel {
    width: 90%;  /* hack! TODO: undo margins or move them into @media */
  }
  .feature-panel .description {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  /* Only show descriptions if we're swimming in vertical pixels */
  .feature-panel .description {
    display: none;
  }
}

@media only screen and (max-height: 500px) and (orientation: portrait) {
  /* On short phones, use less space for stats and more for shapes. */
  .population {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-height: 800px) {
  /* tablet, portrait mode */
  #sidebar {
    left: 0;
    right: 0;
    height: 210px;
    width: auto;
    bottom: auto;
    display: table;
  }
  .side-panel {
    width: 46%;
    display: inline-table;
    vertical-align: top;
  }
}


line { stroke: black; }

.shape1 {
  fill: rgb(128,128,255);
}
.shape0 {
  fill: rgb(128,255,128);
}
.shape {
  fill-opacity: 0.9;
  stroke-width: 0.5;
  stroke: gray;
  /*shape-rendering: crispEdges;*/
}
circle, rect {
  stroke-width: 1;
  fill: none;
}
.force0 rect {
  stroke: rgb(128,255,128);
}
.force1 rect {
  stroke: rgb(128,128,255);
}
circle {
  stroke: black;
}
.draggable {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.in-transit {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

body.about {
  overflow-y: auto;
  padding: 5px 20px;
  max-width: 800px;
}
